.broadcast-page {
    padding: 20px;
    background-color: #333333;
    color: #ffffff;
    min-height: 100vh;
    margin-bottom: 20vw;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .room-list {
    width: 100%;
    max-width: 600px;
    margin-bottom: 20px;
  }
  
  .room-list h1 {
    text-align: center;
    font-size: 5vw;
    margin-bottom: 10px;
  }
  
  .room-list ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .room-list li {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #444;
    padding: 10px;
    border-radius: 5px;
  }
  
  .room-list li button {
    background-color: #ffc546;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
  }
  
  .selected-room-container {
    width: 100%;
    max-width: 600px;
    margin-top: 20px;
  }
  
  .selected-room-container h2 {
    font-size: 4vw;
    margin-bottom: 10px;
  }
  
  .message-input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: none;
    font-size: 4vw;
    box-sizing: border-box;
  }
  
  .message-send-button {
    background-color: #ffc546;
    color: #333333;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    margin-bottom: 20px;
  }
  
  .message-list {
    margin-top: 20px;
    width: 100%;
  }
  
  .message-list h2 {
    font-size: 4vw;
    margin-bottom: 10px;
  }
  
  .message-list ul {
    list-style-type: none;
    padding: 0;
  }
  
  .message-list li {
    margin-bottom: 10px;
    background-color: #444;
    padding: 10px;
    border-radius: 5px;
  }
  
  .video-container {
    margin-top: 20px;
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
  }
  
  .video-player {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
  }
  