/* src/css/UnlockOption.css */
.unlock-option {
    display: flex;
    align-items: center;
    border-radius: 6vw;
    padding: 3vw;
    margin: 4vw;
    color: #ffffff;
    position: relative;
    border: 0.3vw solid #ffffff;
  }
  
  .unlock-text h2 {
    font-family: 'Pretendard Variable', sans-serif;
    font-size: 6vw;
    font-weight: 500;
    margin-bottom: 1vw;
  }
  
  .unlock-text p {
    font-family: 'Pretendard Variable', sans-serif;
    font-size: 4vw;
    color: #ffc546;
  }
  
  .unlock-icon {
    font-size: 7vw;
    margin: 5vw;
  }
  
  .unlock-arrow {
    position: absolute;
    right: 3vw;
    font-size: 6vw;
  }
  