.nav-navigation {
  position: fixed; /* 네비게이션 바를 화면에 고정 */
  bottom: 0; /* 화면 하단에 위치 */
  left: 0; /* 왼쪽 끝에 맞춤 */
  width: 100vw; /* 네비게이션 바가 전체 너비를 차지하도록 설정 */
  display: flex;
  justify-content: space-around;
  background-color: #333333;
  padding: 5vw 0; /* 패딩을 vw 단위로 설정 */
  z-index: 1000; /* 다른 요소들보다 위에 표시되도록 z-index 설정 */

}

.nav-navigation::before {
  content: '';
  position: absolute;
  top: -0.5vw; /* 하얀 선의 위치를 조정하여 노란색 바 위에 오도록 설정 */
  left: 0;
  width: 100vw; /* 하얀 선의 너비를 vw 단위로 설정 */
  height: 0.5vw; /* 하얀 선의 높이를 vw 단위로 설정 */
  background-color: #ffffff; /* 네비게이션 바 위의 하얀 선 */
}

.nav-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-decoration: none;
  font-size: 3.5vw; /* 폰트 크기를 vw 단위로 설정 */
  width: 20vw; /* 각 아이템의 넓이를 vw 단위로 설정 */
}

.nav-item span {
  margin-top: 1vw; /* 텍스트 위쪽 마진을 vw 단위로 설정 */
  text-align: center;
  line-height: 1.2; /* 텍스트 줄 간격 조정 */
}

.nav-item svg {
  font-size: 6vw; /* 아이콘 크기를 vw 단위로 설정 */
  margin-bottom: 1vw; /* 아이콘 아래쪽 마진을 vw 단위로 설정 */
}

.nav-active {
  color: #ffc546; /* 활성화된 아이콘과 텍스트 색상 */
}

.nav-active::after {
  content: '';
  position: absolute;
  top: -5.7vw; /* 노란색 바의 위치를 하얀색 선 위로 설정 */
  left: 50%;
  transform: translateX(-50%);
  width: 17vw; /* 노란색 바의 너비를 vw 단위로 설정 */
  height: 1.2vw; /* 노란색 바의 높이를 vw 단위로 설정 */
  background-color: #ffc546; /* 활성화된 아이템 위의 노란색 바 */
  border-radius: 10vw;
}
