.preparing-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #333333;
    padding: 10vw;
    text-align: center;
}

.preparing-logo-icon {
    width: 100vw;
    padding: 20vw;
    margin-bottom: 5vw;
}

.preparing-title {
    margin-top: 30vw;
    font-size: 9vw;
    font-weight: 600;
    color: #ffc546;
    margin-bottom: 10vw;
}

.preparing-message {
    font-size: 5.5vw;
    color: #ffc546;
}
