/* src/pages/SplashPage.css */

.splash-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #333333; /* 배경 색상 */
    text-align: center;
    color: #ffffff; /* 기본 글씨 색상 */
  }
  
  .logo-icon {
    margin-top: 20vw;
    width: 50vw; /* 로고 아이콘 크기 */
  }
  
  .title {
    font-family: 'Pretendard Variable', sans-serif;
    font-size: 12vw;
    font-weight:900;
    color: #ffc546;

  }
  .subtitle {
    font-family: 'Pretendard Variable', sans-serif;
    font-size: 5vw;
    font-weight: 600;
    color: #ffffff;
    margin-top: 0vw;
    padding-top: 0vw;
  }
  
  .description {
    font-family: 'Pretendard Variable', sans-serif;
    font-size: 5vw;
    margin-top: 20vw; /* 부제목과 제목 사이의 간격 조정 */
    color: #ffffff;
  }
  