.save-header {
    text-align: center;
    padding: 5vw;
    background-color: #333333;
  }
  
  .save-header-title {
    font-family: 'Pretendard Variable', sans-serif;
    font-size: 6.5vw;
    color: #ffffff;
  }
  