.save-header {
    text-align: center;
    padding: 2vw;
    background-color: #333333;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }
  
  .save-header-title {
    font-family: 'Pretendard Variable', sans-serif;
    font-size: 5vw;
    color: #ffffff;
  }
  