.save-route-card {
  background-color: #333333;
  border-radius: 6vw;
  padding: 4vw;
  margin-bottom: 4vw;
  color: #ffffff;
  position: relative;
  border: 1px solid #ffffff;
}

.save-route-card-title {
  font-family: 'Pretendard Variable', sans-serif;
  font-size: 5vw;
  font-weight: 700;
  margin-bottom: 2vw;
  padding-right: 10vw; /* 하트 아이콘의 위치를 피하도록 여유 공간 추가 */
  word-wrap: break-word; /* 긴 텍스트가 하트 아이콘을 침범하지 않고 줄바꿈되도록 설정 */
}

.save-route-details {
  font-family: 'Pretendard Variable', sans-serif;
  font-size: 4vw;
  margin-bottom: 4vw;
}

.save-route-step {
  margin-bottom: 2vw;
  display: flex;
  align-items: center;
}

.save-step-icon {
  margin-right: 2vw; /* 아이콘과 텍스트 사이의 간격 조정 */
  font-size: 5vw;
}

.save-route-card-end {
  font-family: 'Pretendard Variable', sans-serif;
  font-size: 5vw;
  font-weight: 700;
}

.save-favorite-icon {
  position: absolute;
  top: 5.5vw;
  right: 4vw;
  font-size: 6vw;
  color: #ff3e3e;
}
