/* src/css/Modal.css */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modal-content {
    background-color: #333333;
    border-radius: 10px;
    padding: 6vw;
    width: 80vw;
    max-width: 400px;
    text-align: center;
    color: #ffffff;
  }
  
  .modal-button, .modal-delete-button, .modal-close-button {
    background-color: #ffc546;
    border: none;
    padding: 3vw;
    font-size: 5vw;
    font-weight: 600;
    color: #333333;
    border-radius: 10vw;
    cursor: pointer;
    margin-top: 4vw;
  }
  
  .modal-delete-button {
    background-color: #e74c3c;
    color: #ffffff;
  }
  
  .modal-close-button {
    background-color: #444444;
    color: #ffffff;
  }
  